/*
    Theme Name: Indohotels.id Red
    Theme URI: http://indohotels.id
    Description: Hotel Template by Indohotels.id
    Tags: HTML5, CSS3

    License: MIT
    License URI: http://opensource.org/licenses/mit-license.php
    */
/*------------------------------------*\
    MAIN
    \*------------------------------------*/
/* global box-sizing */
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

*:focus {
  outline: none;
}
/* html element 62.5% font-size for REM use */
html {
  font-size: 62.5%;
  max-width: 100%;
  max-height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #636363;
  max-width: 100%;
  max-height: 100%;
  background-color: #ffe9d2;
}
/* clear */
.clear:after,
.clear:before {
  content: ' ';
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  *zoom: 1;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  color: $base-color;
  text-decoration: none;
}

a:hover {
  color: $base-color;
}

a:focus {
  outline: 0;
}

a:active,
a:hover {
  outline: 0;
}

input:focus {
  outline: 0;
  border: 1px solid #04A4CC;
}

li,
ol {
  list-style: none;
}
/*------------------------------------*\
    STRUCTURE
    \*------------------------------------*/
/* wrapper */
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

.container {
  max-width: 960px;
}
.krs-hidden{
  opacity: 0;
}
.krs-visible {
  opacity: 1;
}
/* header */
.header-home {
  width: 100%;
  //text-align: center;
  color: #cacaca;
  position: relative;
}

.header-image-page {
  background: url('asset/images/header1.jpg') no-repeat;
  height: 50vh;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  text-align: center;
  color: #cacaca;
}

.header-all {
  background-color: $base-color;
  width: 100%;
  text-align: center;
  color: #CACACA;
}

.home-slider {
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-transition: all 0.8s ease-in;
  -moz-transition: all 0.8s ease-in;
  -o-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}

header .search-hotels {
  padding-top: 280px;
  padding-bottom: 200px;
}

#ros-in {
  width: 100%;
  background-color: $color-white;
  padding-top: 10px;
  padding-bottom: 30px;
  line-height: 2rem;
}

#ros-in h2 {
  color: $base-color;
  font-size: 24px;
  font-weight: 600;
}
#ros-in p {
  color: #421D01;
  text-align: justify;
}
.shadow-box {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 400px;
  background: linear-gradient(#080808, rgba(8, 8, 8, 0));
  z-index: 2;
}

.wrap-logo {
  position: relative;
  z-index: 3;
}

.logo {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: $color-white;
  padding: 10px 10px 15px;
}

.logo-img {
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.7rem;
  max-height: 101px;
}
.navbar-brand .logo-img {
  max-height: 4rem;
  margin-top: 0;
  padding-top: 0;
}
/* Home */
.box-thumb {
  position: relative;
  cursor: default;
}

.box-thumb::selection {
  background: none;
}

.title-gallery-home {
    position: absolute;
    top: 0;
    right: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fff;
    background: rgba(224, 160, 57, 0.61);
    padding: 10px 10px 15px;
    width: 127px;
    font-size: 1rem;
    @media(max-width: 1024px){
      img {
        height: 70px;
        margin: 0 auto;
      }
    }
}

.title-gallery-home h2 {
  font-weight: 600;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.title-gallery-home .gallery-telephone,
.title-gallery-home .gallery-time {
  padding: 0;
  font-size: 1rem;
}
/* nav */

.navbar {
  margin-bottom: 0;
  position: absolute;
  top: 17vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 4;
  -webkit-transition: all 0.8s ease-in;
  -moz-transition: all 0.8s ease-in;
  -o-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}

.navbar-fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: $base-color;
  -webkit-transition: all 0.8s ease-in;
  -moz-transition: all 0.8s ease-in;
  -o-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}

.navbar-custom ul li {
  padding: 5px;
  font-size: 14px;
  font-weight: 400;
}

.nav ul li a::after,
.nav ul li a::before,
.nav ul li a:active,
.nav ul li a:hover,
.navbar-custom ul li a:hover {
  background: none;
  text-decoration: underline;
  color: #fff;
}

.nav-bottom ul li {
  display: inline;
  padding: 5px 20px;
  font-size: 12px;
}

.nav ul li a,
.navbar-nav > li > a {
  color: $secondary-color;
  text-transform: uppercase;
}

.nav > li > a:focus,
.nav > li > a:hover {
  color: $color-white;
  background-color: transparent;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none!important;
  vertical-align: top;
}

ul.nav.navbar-nav:before {
  margin-left: 0;
}

li.btn.btn-rooms {
  margin: 15px;
  background-color: $color-white;
  border: 1px solid $base-color;
  border-radius: 0;
  display: inline-block;
}

li.btn.btn-rooms a {
  color: #636363;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}

li.btn.btn-rooms:active,
li.btn.btn-rooms:hover {
  background-color: #ebebeb;
}

.navbar .navbar-collapse {
  text-align: center;
}

ul.nav.navbar-nav.sub-nav {
  margin-left: 12px;
}

.nav ul.dropdown-menu {
  background: rgba(214, 144, 61, 0.68);
}

@media(min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: rgba(214, 144, 61, 0.44);
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
  background-color: transparent;
  color: $color-white;
}
/* ==== Single ==== */

.blog,
.content-single,
.sidebar {
  margin-top: 20px;
}

footer {
  clear: both;
  background-color: $base-color;
  background: url('asset/images/pattern.png');
  background-repeat: repeat;
}

footer .nav-bottom,
nav .navbar-custom {
  margin: 20px 0;
  color: $color-white;

  ul {
    margin-bottom: 0;
  }
}

footer .menu {
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-center {
  text-align: center;
  color: $color-white;
  padding-top: 30px;

  i, p {
    display: inline-block;
  }

  a {
    color: $color-white;
  }
}

.footer-credits {
  text-align: center;
  background: #E3A11C;
  font-size: 12px;
  color: $base-color;
  padding: 10px 0;
  a {
    color: $base-color;
  }
}


ul.footer-menu {
  margin-top: 10px;
}

ul {
  padding-start: 0;
  -webkit-padding-start: 0;
}

.btn-outline {
  color: $color-white;
  font-size: 20px;
  border: solid 2px $color-white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}

.btn-outline.active,
.btn-outline:active,
.btn-outline:focus,
.btn-outline:hover {
  color: #f51818;
  background: $color-white;
  border: solid 2px $color-white;
}

.btn-social {
  display: inline-block;
  height: 35px;
  width: 35px;
  border: 2px solid $color-white;
  border-radius: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  border: 1px solid $base-color;
  background-color: $base-color;
  color: $color-white;
  font-size: 20px;
  box-shadow: none;
  text-shadow: none;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.btn-check,
.btn-check:active {
  background-color: $base-color;
  color: $color-white;
  padding-left: 2.9em;
  padding-right: 2.9em;
  text-transform: uppercase;
  border-radius: 0;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.btn-check:hover {
  background-color: $color-white;
  color: #a12c1f;
}

.border-check {
  border-radius: 5px;
  padding: 10px;
  background: rgba(238, 238, 238, 0.4);
  max-width: 495px;
  position: absolute;
  z-index: 3;
  top: 30vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transition: all 0.8s ease-in;
  -moz-transition: all 0.8s ease-in;
  -o-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}

.booking-box-above {
  background: rgba(255, 255, 255, 0.8);
  margin-bottom: 10px;
  width: 155px;
}

.booking-box-above:nth-child(2) {
  margin-left: 5px;
  margin-right: 5px;
}

.booking-box-below {
  width: 145px;
  background: rgba(255, 255, 255, 0.8);
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 30px;
}

.booking-box-above .form-control {
  font-size: 20px;
}

.booking-box-above .form-control,
.booking-box-below .form-control {
  height: 80px;
  border-radius: 0;
  text-align: center;
}

.checkin-box:hover,
.checkout-box:hover {
  opacity: 1;
}

.booking-box-below span#from_date_day,
.booking-box-below span#to_date_day {
  color: #333;
}

.booking-title {
  padding: 5px 10px;
  background-color: $base-color;
  opacity: 1;
  font-weight: 700;
  font-size: 14px;
}

span#from_date_day,
span#to_date_day {
  color: #333;
}

.t_night {
  height: 50px;
}

.hiddenroom {
  display: none;
  margin-bottom: 20px;
}

.box-number {
  background: #eee;
  position: relative;
}

.box-number span {
  margin-left: 15px;
  color: #333;
}

.box-number input[type=button]:first-child,
.m-box-number input[type=button]:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: url("img/room-minus.png");
  background-repeat: no-repeat;
  background-position: 50%;
}

.box-number input[type=button]:last-child,
.m-box-number input[type=button]:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: url("img/room-plus.png");
  background-repeat: no-repeat;
  background-position: 50%;
}

.box-number input[type=button] {
  border: 0;
  height: 36px;
  width: 26px;
  padding: 5px 10px;
  font-size: 20px;
  vertical-align: top;
  -webkit-appearance: none;
}

.box-number input[type=text] {
  color: $base-color;
  min-height: 36px;
  background-color: transparent;
  border: none;
  opacity: 1;
  width: 40px;
  text-align: center;
}

.box-number input[type="submit"],
.box-number input[type="text"] {
  font-family: FontAwesome;
}

.box-number input.qtyplus {
  float: right;
  margin-right: 10px;
}

.box-number input.qtyminus {
  float: left;
  margin-left: 10px;
}

.box-number.night input.qtyminus,
.box-number.night input.qtyplus {
  float: none;
  margin: 0;
}

#toggle input {
  background-color: transparent;
  border: 0;
  width: 20px;
  margin-left: 5px;
}

.box-toggle:hover {
  cursor: pointer;
}

.box-toggle:hover a {
  text-decoration: none;
}

.box-toggle {
  margin-bottom: 10px;
  background-color: #eee;
  clear: both;
  padding: 5px 10px;
}

.hiddenroom {
  margin-left: 0;
  margin-right: 0;
  clear: both;
}

.box-number.night input[type=text] {
  font-size: 30px;
  height: 100px;
}

.box-number.night input[type=button] {
  vertical-align: baseline;
}

button.fa.fa-plus.qtyplus {
  padding: 10px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -webkit-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
}

button.fa.fa-minus.qtyminus {
  padding: 10px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -webkit-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
}

.box-number.one,
.box-number.three,
.box-number.two {
  margin-bottom: 10px;
}

.powered-by {
  max-width: 150px;
  margin: 10px auto;
}
/*------------------------------------*\
    PAGES
    \*------------------------------------*/
h1.title {
  font-size: 2.4rem;
  color: $base-color;
  font-weight: 600;
}

.room-post h2 a {
  font-size: 24px;
  padding-top: 5px;
}

article p {
  margin-bottom: 20px;
  line-height: 1.5;
}
/* ----------------*/
/* ------ Rooms ---*/
/* ----------------*/
.room-thumb {
  text-align: left;
  margin-bottom: 10px;
}

h2.title {
  text-align: left;
  margin-bottom: 0;
  margin-top: 30px;
}

h2.title-room-list {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
}

h2.title-room-list a {
  color: $secondary-color;
  &:hover {
    text-decoration: none;
  }
}

.room-info {
  font-size: 18px;
  color: $secondary-color;
  //font-style: italic;
  margin-bottom: 10px;
}

.room-breakfast {
  font-size: 18px;
  padding: 5px;
  color: $color-white;
  background-color: #bababa;
  margin-top: 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
  display: inline-block;
}

.room-price {
  color: $base-color;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}

.book-room {
  text-transform: capitalize;
  padding: 10px;
  background-color: $base-color;
  font-weight: normal;
  text-align: center;
  font-size: 16px;
}

.book-room:hover {
  background-color: $color-white;
  color: $base-color;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.book-room:hover a {
  color: $base-color;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
}

.book-room a {
  color: $color-white;
}

.book-room a:hover {
  color: $base-color;
  text-decoration: none;
  background-color: $color-white;
  color: $base-color;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.room-tax {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 30px;
}

.room-detail a {
  color: $base-color;
}

.rooom-no {
  margin-bottom: 30px;
}
/*-------------------------------*/
/* --- PAGE AVAILABLE ROOMS ----- */
/*-------------------------------*/
@media(min-width: 768px){
  .room-booking {
    margin: 15px;
  }
}

.room-booking .col-booking,
.room-booking .col-value {
  padding: 10px;
}

.room-booking.col-booking.table > tbody > tr > td {
  border: none;
  color: $base-color;
}

.room-booking img {
  width: 100%;
}

.room-details .form-control {
  margin-bottom: 10px;
}
/* ---------------------*/
/* Page Room Details */
/* -------------------- */
.room-title-box {
  background: rgba(227, 161, 28,.5);
  padding: 10px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
}

.room-title-box {
  font-weight: 600;
  color: $color-white;
  text-transform: uppercase;
  max-width: 50%;
  margin: 0 auto;
}

.room-title-box h2 {
  font-size: 24px;
  font-weight: 800;
  margin-top: 5px;
}

.room-balcony {
  font-style: italic;
}

.room-box {
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
}

.room-details-spec {
  background: rgba(227, 161, 28, 0.5);
  color: $color-white;
  padding: 10px;
  position: absolute;
  left: 0;
  bottom: 10px;
  right: 0;
  z-index: 100;
  font-weight: 600;
  vertical-align: middle;
}

.room-details-desc {
  padding: 15px;
}

span.room-value {
  color: $base-color;
}

h3.room-details-f-title {
  background-color: #ebebeb;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  color: $base-color;
}

.feature-box.col-md-12.col-md-4 {
  padding-left: 0;
  padding-right: 0;
}

ul.room-features {
  margin-left: 20px;
}

ul.room-features li {
  list-style-type: square;
}
/* -------------------------- */
/* ----- Gallery Slider ------*/
/* ------------------------- */
div#main_area {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.box-gallery {
  border: 1px solid $base-color;
  overflow: hidden;
  margin-bottom: 30px;
  margin-left: -15px;
  margin-right: -15px;
}

.gallery-view img {
  width: 100%;
}

.gallery-view.slick-initialized.slick-slider {
  max-height: 500px;
}

.gallery-nav .item {
  max-height: 90px;
  overflow: hidden;
}

.gallery-nav {
  .slick-prev:before, .slick-next:before {
    font-size: 16px;
  }
}

/* Contact Us */
.contact-box {
  /* border: 1px solid $base-color; */
  /*margin: 15px;*/
  margin-top: 10px;
  background: #ebebeb;
  margin-bottom: 20px;
  clear: both;
}

.contact-headline {
  background: $base-color;
  padding: 1px 10px;
  color: $color-white;
  margin: 0 -15px;
}

.contact-headline h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact-address {
  padding: 10px 0;
}

.contact-info tr td:first-child,
.contact-info tr td:nth-child(2) {
  padding-right: 10px;
}

.contact-info ul {
  margin-left: 0;
  padding-left: 7px;
  vertical-align: top;
  margin-bottom: 0;
  line-height: 45px;
}

.contact-info {
  margin-bottom: 20px;
}

.contact-info table tbody tr {
  height: 2em;
}
/*------------------------------------*\
    IMAGES
    \*------------------------------------*/
.thumb {
  overflow: hidden;
}

.thumbnail {
  //border: none;
  border-radius: 0;
}

.thumbnail-gallery {
  padding: 0;
  margin-bottom: 0;
}

// .col-md-4,
// .col-sm-12 {
//   padding-right: 0;
//   padding-left: 0;
// }

.thumbnail > img,
.thumbnail a > img {
  width: 100%;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.thumbnail > img:hover,
.thumbnail a > img:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.hide-bullets {
  list-style: none;
  margin-left: -40px;
  margin-top: 20px;
}

#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}
/*------------------------------------*\
    TYPOGRAPHY
    \*------------------------------------*/
@font-face {
  font-family: 'Font-Name';
  src: url('fonts/font-name.eot');
  src: url('fonts/font-name.eot?#iefix') format('embedded-opentype'), url('fonts/font-name.woff') format('woff'), url('fonts/font-name.ttf') format('truetype'), url('fonts/font-name.svg#font-name') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*------------------------------------*\
    RESPONSIVE
    \*------------------------------------*/
@media only screen and (max-width:1024px) {
  .navbar-custom ul li {
    padding: 5px;
  }

  .booking-box-above {
    float: left;
    margin-left: 0;
  }

  .booking-box-below {
    float: left;
    width: 30%;
  }

  .nav-bottom ul li {
    display: block;
  }

  ol.carousel-indicators {
    display: none;
  }

  .box-toggle {
    margin-left: 0;
    margin-right: 0;
  }

  .booking-box-above .form-control,
  .booking-box-below .form-control,
  .box-number.night input[type=text] {
    height: auto;
  }

  .home-slider {
    //height: 600px;
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 75vh;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: all 0.8s ease-in;
    -moz-transition: all 0.8s ease-in;
    -o-transition: all 0.8s ease-in;
    transition: all 0.8s ease-in;
  }

  .btn-check,
  .btn-check:active {
    width: 100%;
  }
}
@media only screen and (max-width:768px) {
  .navbar .navbar-collapse {
    background: $base-color;
  }

  .room-details-spec {
    position: initial;
  }

  .room-details-spec span.col-md-3 {
    display: inline-grid;
    color: #636363;
  }

  .room-title-box {
    padding: 1px;
  }

  .room-title-box h2 {
    font-size: 13px;
    margin: 0;
    padding: 0;
  }

  .t_night {
    height: 34px;
  }

  footer ul.list-inline {
    margin-bottom: 0;
  }

  footer .btn-social {
    margin-top: 20px;
  }
}
@media only screen and (max-width:480px) {
  .border-check {
    margin: 0 10px;
  }

  .booking-box-above {
    width: 31.9%;
  }

  .booking-box-above:nth-child(3) {
    margin-right: 0;
  }

  .booking-box-above .form-control {
    font-size: 16px;
    padding: 10px 0;
  }

  .box-number.night input[type=text] {
    height: 10px;
    font-size: 16px;
    width: 25px;
  }

  .box-number.night input[type=button] {
    height: 28px;
  }
}
@media only screen and (max-width:320px) {}
/* -------------- */
/* --- CALERAN -- */
/* -------------- */
/* Caleran */

.caleran-container-mobile .caleran-input .caleran-header .caleran-header-end,
.caleran-container-mobile .caleran-input .caleran-header .caleran-header-start {
  min-width: 0;
  margin: 0;
}

.caleran-container .caleran-input .caleran-calendar .caleran-days-container .caleran-day-unclick,
.caleran-container-mobile .caleran-input .caleran-calendar .caleran-days-container .caleran-day-unclick {
  width: calc(100% / 7);
  float: left;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  margin: 0 0 1px;
  background: #f28e20;
  cursor: not-allowed !important;
  color: $color-white;
  min-height: 30px;
  border-radius: 2px;
  position: relative;
}

.caleran-container .caleran-input .caleran-calendar .caleran-days-container .caleran-day-unclick span,
.caleran-container-mobile .caleran-input .caleran-calendar .caleran-days-container .caleran-day-unclick span {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 4px;
  top: 4px;
  bottom: 4px;
  right: 4px;
}

.caleran-apply,
.caleran-apply-d {
  background: #f28e20 !important;
  border: 1px solid #f28e20 !important;
  color: $color-white;
  margin-left: 7px;
}

.caleran-container-mobile .caleran-input .caleran-footer button.caleran-cancel {
  background: $color-white;
  border: 1px solid #f28e20 !important;
  color: #f28e20 !important;
}

.caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-end,
.caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-end:not(.caleran-hovered) span,
.caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-selected,
.caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-start,
.caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-start:not(.caleran-hovered) span,
.caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-end,
.caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-end:not(.caleran-hovered) span,
.caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-selected,
.caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-start,
.caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-start:not(.caleran-hovered) span {
  background: #f28e20 !important;
  color: $color-white;
}

.caleran-container-mobile .caleran-input .caleran-header .caleran-header-end {
  text-align: left;
  max-width: 40vmin;
}

.caleran-container-mobile .caleran-input .caleran-header .caleran-header-end .caleran-header-end-day {
  float: left;
  margin-right: 10px;
}

.caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-weekend,
.caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-weekend {
  color: #be142f;
}

.caleran-container-mobile .caleran-input .caleran-header .caleran-header-end .caleran-header-end-weekday {
  margin-top: 0;
}
@media (max-height: 480px) {
  .caleran-container-mobile .caleran-input {
    top: auto;
    bottom: 0;
  }
}
/* end caleran */
/* end instant booking */
/* carousel-inner */
/* end carousel-inner */
/* ------------------ */
/* --- End Caleran -- */
/* ------------------ */
/*------------------------------------*\
    MISC
    \*------------------------------------*/
/*    ::selection {
        background:$base-color;
        color:$color-white;
        text-shadow:none;
    }
    ::-webkit-selection {
        background:$base-color;
        color:$color-white;
        text-shadow:none;
    }
    ::-moz-selection {
        background:$base-color;
        color:$color-white;
        text-shadow:none;
        }*/
/*------------------------------------*\
    WORDPRESS CORE
    \*------------------------------------*/
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: $color-white;
  border: 1px solid #F0F0F0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.gallery-caption,
.wp-caption .wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
/*------------------------------------*\
    PRINT
    \*------------------------------------*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  blockquote,
  pre {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  img,
  tr {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }

  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* additional */
body {
  &.contact, &.contact-2, &.gallery-photos, &.review, &.meeting-room,
  &.bima-room, &.nakula-room, &.sadewa-room,
  &.yudhistira-room, &.yudhistira-1-room, &.yudhistira-2-room, &.abimanyu {
    .header-image-page {
      background-position: center 80%;
    }
  }
  &.facilities {
    .header-image-page {
      background-position: center 40%;
    }
  }
  &.review {
    .box-container {
      margin-bottom: 30px;
      .box-text {
        margin-top: 0;
        padding: 15px;
        h4 {
          margin: 10px 0;
        }
      }
    }
  }
  &.contact {
    main[role*="main"] {
      margin-bottom: 0;
    }
  }
}

.booking-box {
  max-width: 100%;
  position: absolute;
  bottom: 0px;
  margin: 0 auto;
  width: 100%;
  @media(max-width: 767px){
    position: static;
  }
  .bookid-wrapper {
    z-index: 999;
    box-sizing: border-box;
    max-width: 1170px;
    padding: 10px 10px 0 10px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    font-size: 12px;
    @media(max-width: 767px){
      background: #421d01!important;
      .bookid-horizontal {
        .gridlane {
          background: transparent!important;
        }
      }
    }
  }
}
@media(max-width: 767px){
  .bookid-wrapper .box-logo {
    padding-bottom: 20px;
  }
  .bookid-wrapper .box-logo a {
    background: #421d01!important;
  }
}

.bookid-wrapper .text-center {
  font-size: 20px;
}
.room-thumb {
  &:hover {
    border: 1px solid $base-color;
    .room-link {
      a {
        color: $secondary-color;
        border: 1px solid $secondary-color;
      }
    }
  }
}
.room-desc {
  padding: 10px;
}
.room-stat {
  font-size: 12px;
  ul {
    margin: 0 -10px;

    li {
      padding: 0 10px;
      float: left;
      @media(min-width: 768px){
        width: 50%;
      }
    }
  }
  &:after {
    clear: both;
    content: "";
    display: block;
  }
}
.room-link {
  margin: 10px 0;
  text-align: center;
  a {
    color: $base-color;
    border: 1px solid $base-color;
    padding: 10px;
    text-transform: capitalize;
    text-align: center;
    font-size: 12px;
    display: inline-block;
    &:hover {
      color: $secondary-color;
      text-decoration: none;
      border: 1px solid $secondary-color;
    }
  }
}

#room-section {
  text-align: center;
  padding: 50px 0;

  h2 {
    margin: 0 0 30px;
  }

  .box-room {
    margin-bottom: 30px;
  }
}

.info-text {
  position: relative;
  padding: 0px 0px 0px 64px;
  margin-bottom: 18px;

  i {
    position: absolute;
    left: 0px;
    top: 4px;
    width: 45px;
    height: 45px;
    background: #fab740;
    line-height: 45px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
  }
}

.home-facilities {
  .box-thumb {
    .thumb {
      padding: 0;
    }
  }
}


main[role*="main"] {
  margin: 40px 0;
}

body.home {
  main[role*="main"] {
    margin-top: 0;
    margin-bottom: 0;
  }

  .deals {
    background: #ffe9d2;
    h3 {
      margin: 0 0 30px;
      color: $base-color;
      font-size: 30px;
      text-align: center;
      text-transform: uppercase;
    }
    .room-thumb {
      padding: 0;
      &:hover {
        border: 0;
      }
      div[id*="post-"] {
        .title-room-list {
          display: none;
        }
      }
    }

  }
}

.navbar-brand {
  display: none;
}

@media(max-width: 1024px){
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next,
  .carousel-control .icon-prev {
    top: 35%;
  }
}

::selection {
  color: $color-white;
}

body.meeting-room {
  .page-content {
    margin: 0 -15px;
  }
  .box-gallery {
    border: 0!important;
  }
  .gallery-view.slick-initialized.slick-slider {
    max-height: 540px;
  }
  .gallery-view {

    .slider-item {
      overflow: hidden;
      padding-bottom: 56.25%;
      position: relative;
      img {
        position: absolute;
        width: auto;
        height: 100%;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
      }
    }
    .item {
      h4 {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(227,161,28,0.5);
        padding: 20px;
        color: #fff;
        @media(max-width: 767px){
          padding: 10px;
          font-size: 14px;
        }
      }
    }
    .slick-prev {
      left: 20px;
      z-index: 1;
    }
    .slick-next {
      right: 20px;
    }
    // .slick-prev:before, .slick-next:before {
    //   color: $base-color;
    // }
  }
  .gallery-nav {
    display: none;
  }
}
body.contact-2 {
  main[role*="main"] {
    margin: 40px 0 0;
  }
}
.logged-in div.wpcf7 {
  margin-top: 0;
}

@media(min-width: 768px) and (max-width: 1024px){
  .navbar-brand {
    float: none;
  }
  .nav>li>a {
    padding: 10px;
  }
}

@media(max-width: 1024px){
  .home-slider {
    background-attachment: scroll;
  }
}

/* map section */
.map-section {
  @media(min-width: 1025px){
    .contact-map {
      padding-left: 0;
    }
    .near-desc {
      padding-right: 0;
    }
  }
  .near-desc {
    ul {
      li {
        span {
          &:first-child {
            margin-right: 15px;
          }
          &:last-child {
            float: right;
          }
        }
      }
    }
  }
}

@media(max-width: 767px){
  .deals {
    .thumbnail {
      a {
        img:hover {
          transform: none;
        }
      }
    }
  }
}

.carousel-control span {
  display: block;
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  @media(min-width: 768px){
    i {
      font-size: 34px;
      &:before {
        font-size: 34px;
      }
      &.flaticon-left-arrow {
        &:before {
          margin-left: 0;
        }
      }
    }
  }
}
.slick-prev,
.slick-next {
  width: 34px;
  height: 34px;
}
.slick-prev {
  left: 25px;
  z-index: 1;
}
.slick-next {
  right: 25px;
}
.slick-prev:before, .slick-next:before {
  font-family: 'Flaticon';
  font-size: 34px;
}

.slick-prev:before {
  content: "\f101";
  color: #fff;
}
.slick-next:before {
  content: "\f100";
  color: #fff;
}

body.contact {
  h2 {
    font-size: 24px;
  }
  .map-section {
    padding: 0 50px;
  }
  .map-section .near-desc {
    ul {
      padding-left: 0;
    }
  }
}
